<li>
	<span style="margin-bottom: 5px;">{{name}}</span><br/>
	<button class="change-been-there btn btn-info" data-id="{{this.id}}" data-wish="{{this.beenThere}}">
		{{#if this.beenThere}}Been There!{{else}}To Again{{/if}}
	</button>

	<button class="forget-restaurant btn btn-danger" data-id="{{this.id}}">FORGET!</button>
</li>
